.main
{
    display: flex;
    
    justify-content: center;
}
.form
{
    background-image: url("download.jpeg");
    background-size: cover;
    opacity: 0.;
    border-radius: 0.8rem;
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 20px 4px #00000040;
}
.input
{
    text-align: center;
    height: 2rem;
    width: 15rem;
    border-radius: 0.6rem;
    margin-bottom: 2rem;
}
.submit
{
    background-color: whitesmoke;
    padding: 0.5rem 0.7rem;
    border-radius: 0.6rem;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite; 
    
}
@keyframes example
    {
        0%{background-color: #28db73;}
        25%{background-color: red;}
        50%{background-color: aqua;}
        100%{background-color: #28db73;}
    }