<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Choose</h1>
    <form action="login">
        <label for="login">login</label>
        <input type="submit" name="login" id="login" placeholder="login"><br>
        
    </form>
    <form action="create">
        <label for="create">create</label>
        <input type="submit" name="create" id="create" placeholder="create"><br>
    </form>
</body>
</html>