<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/menu.css">
    <title>Home</title>
</head>

<body class="main">
    <div class="box"><br>
        <div class="heading">
            <h1>Welcome to Bank of TINT</h1>
        </div><br><br><br><br><br><br><br><br><br><br><br><br>
        <div class="row">
            <div class="column-left">
                <h1 onclick="callLogin()">Login</h1>
            </div>
            <div class="column-right">
                <h1 onclick="callCreate()">Create</h1>
            </div>
        </div>
    </div>
</body>
<script>
    function callLogin() {
        window.location.href = "login.html";
    }

    function callCreate() {
        window.location.href = "createAccount.html";
    }
</script>

</html>