<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Choose</h1>
    <label for="login">login</label>
    <input type="button" name="login" id="login" placeholder="login"><br>
    <script type="text/javascript">
        document.getElementById("login").onclick = function () {
            location.href = "login.html";
        };
    </script>
    <label for="create">create</label>
    <input type="button" name="create" id="create" placeholder="create"><br>
</body>
</html>