<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <label for="accountNumber">Account Number:</label>
    <input type="text" name="accountNumber" id="accountNumber" required><br>
    <label for="pin">PIN:</label>
    <input type="text" name="pin" id="pin" required><br>
    <input type="submit">
    <input type="reset">
</body>
</html>