<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/menu.css">
    <title>Menu</title>
</head>

<body class="main">
    <div class="form">
        <div class="heading">
            <h1>Welcome to Bank of TINT</h1>
        </div>

        <div class="row">
            <div class="left-col-50">
                <h2>WITHDRAWL</h2>
            </div>
            <div class="right-col-50">
                <h2>DEPOSIT</h2>
            </div>
        </div>
    </div>
</body>

</html>